html > body {
    font-size: 16px;
}

html, body{ 
    text-align:center; 
} 

body {
    font-family: Palatino, georgia, 'times new roman', serif;
    background-color: #eee;
    height: 100%;
}

#pagewidth{ 
    width:70%; 
    text-align:left; 
    margin:0 auto; 
} 

#maincol{
    position: relative; 
}

 blockquote {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    font-style:normal;
    color: #333;
    border-left: 2px solid #999;
    padding-left: 1em;
}


#header {
    border-top:0.4em solid #666;
    padding-top: 1em;

    font-variant: small-caps;
    line-height: 1em;
    margin-bottom: 1em;
    margin-top: 3em;

    padding-left:  1.5em;
    padding-right:1.5em;

}

#header, #header a {
    color: #444;
}

#header h1 {
    display: inline;
    font-family: "CMU Serif","Georgia",serif;
    /*font-family: Palatino, georgia, 'times new roman', serif;*/
    font-weight: normal;
    font-size: 2em;
    font-style: italic;
    line-height: 1.2em;
    width:50%;
}

#header h1 a {
    color:black;
}

#header ul {
    font-size: 100%;
    float:left;
    margin-top: 0.5em;
    vertical-align: top;
    width:100px;
    list-style:none;
}

#header ul li {
    padding-bottom: 0.2em;
}


#header ul li a {
    padding-right:1em;
    padding-left:1em;
}

#header ul li a:hover {
    color:black;
    background-color: whiteSmoke;    
    border-right:0.2em solid #339;
    border-left:0.2em solid #339;
    padding-left:0.5em;
}

#banner {
    float:left;
    width:300px;
}

#navLinks {
    float:right;
}

.currentNav {
    
}

#email {
    font-family: monospace;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-variant: normal;
    font-style: normal;
    color: gray;
    text-decoration: none;
    letter-spacing: 0.1ex;
    word-spacing: 0.5ex;
}


#footer{
    clear:both;
    display:block;
    overflow:auto;
    padding-left:3em;
} 

#footer address {
    position: relative;
    margin: .5em 0 0 0;
    display: block;
    color:gray;
    font-size: 75%;
}
#footer a {
    font-variant: small-caps;
    font-style: normal;
    color: gray;
    text-decoration: none;
}

#footer a:hover {
    text-decoration:underline;
    color: black;
}


.shadow {
    -moz-box-shadow: 2px 2px 8px #555;
    -webkit-box-shadow: 2px 2px 8px #555;
    box-shadow: 2px 2px 8px #555;
}


#sidebar {
    float:left; 
    width:100px;


    color:black;
    border: 1px solid #ccc;

    padding-top: 1em;

}


#page {
    min-width: 200px;
    max-width: 750px;
    background: #fff;

    color:black;
    border: 1px solid #ccc;
    padding: 3em 3em 1.5em;

    float:right;

    margin: auto;
    border-radius:5px;
    border-top-left-radius: 5px 5px; 
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}


a {
    color: #339;
    text-decoration: none;
}

h1, h2, h3, h4 {
    clear: left;
    font-family: 'lucida grande', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1em;
}




/* ******************************************************************** */ 
/* Clearfix: http://csscreator.com/attributes/containedfloat.php        */
/* ******************************************************************** */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  



#paperTitle {
    color:black;
    font-size: 150%;
    padding-bottom:0.5em;
}

#paperAuthors {
    color: #333;
    padding-left: 2em;   
    font-style: italic; 
}

#paperDetails {
    padding-left: 2em;
}

#paperAbstract {
    padding-top:2em;
    padding-bottom:2em;
    text-align: justify; 
    text-justify: newspaper 
}

#bib {
    font-size:75%;
     border: 1px solid #333;
     padding-left: 1em;
}

.inset {
    width: 2in;
    border: 1px solid gray;
    vertical-align: text-top;
}

.preview {
    height: 1in;
    border: 1px solid gray;
    vertical-align: baseline;
}

.preview:hover {
    -moz-box-shadow: 2px 2px 8px #555;
    -webkit-box-shadow: 2px 2px 8px #555;
    box-shadow: 2px 2px 8px #555;
}

.pubName {
    width:80%;
    float: left;
}

.pub a {
    color:black;
    display:block;
}



.pub {
    padding:0.5em;
    padding-bottom: 0;
    overflow: hidden;
    clear:both;

}

.pub:hover {
    background-color: #eee;
    -moz-box-shadow: 2px 2px 8px #555;
    -webkit-box-shadow: 2px 2px 8px #555;
    box-shadow: 2px 2px 8px #555;
}


#justify {
text-align:justify
}


p.line { position: relative; margin: 0; text-align:justify;}
p.excerpt { margin: 0; text-align:justify; }
.excerpt { color: black; font-weight:normal;}

.section { 
	font-size: 87.5%; 
	line-height: 1.43em; 
	margin-bottom: 1.43em;
	margin-top: 1.43em;
	margin-left: 7.5em;
	padding-right: 3em;
}
.section h1 {
	font-family: Palatino, georgia, serif;
	font-size: 100%;
	line-height: 1.43em;
	position: absolute;
	width: 6em;
	max-width: 6em;
	margin-left: -7.5em;
	font-weight: bold;
	font-variant: small-caps;
}
.section p { margin-bottom: 1.43em; }

.list { font-weight: bold; }
.title {font-weight:bold;}

div.imageGallery  {
  border:1px solid gray;
  width:2in;
  height:2in;
  float:left;
  text-align:center;
  }
div.imageGallery img  {
  display:inline;
  border:1px solid #ffffff;
  width:1.5in;
  height:1.5in;
  }
div.imageGallery a:hover img  {
  border:1px solid #0000ff;
  }

